.heading {
  background-color: #f9f4f0;
  padding: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

body {
  overflow: hidden;
}

.image {
  position: absolute;
  top: 5px;
  right: 5px;
}

.image img {
  width: 200px;
  height: auto;
}

.goodmorning {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin-top: 80px;
  text-align: left;
  padding-top: 20px;
  padding-right: 75px;
}

@media (max-width: 480px) {
  .heading {
    padding-top: 80px;
    padding-right: 20px;
  }

  .goodmorning h1 {
    font-size: 25px;
    font-family: 'Jost', sans-serif;
    font-family: 'Outfit', sans-serif;
  }

  .goodmorning p {
    font-size: 20px;
    margin-top: -10px;
    font-family: 'Jost', sans-serif;
    font-family: 'Outfit', sans-serif;
    color: #9a9898;
  }

}
@media (max-width: 1920px) {
  .heading {
    padding-top: 80px;
    padding-right: 20px;
  }

  .goodmorning h1 {
    font-size: 25px;
    font-family: 'Jost', sans-serif;
    font-family: 'Outfit', sans-serif;
  }

  .goodmorning p {
    font-size: 20px;
    margin-top: -10px;
    font-family: 'Jost', sans-serif;
    font-family: 'Outfit', sans-serif;
    color: #9a9898;
  }
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-control {
  width: 250px;
  padding: 10px 40px 15px 40px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-family: 'Jost', sans-serif;
  font-family: 'Outfit', sans-serif;
  outline: none;
  background-color: transparent;
}

.form-control:hover {
  background-color: #f9f4f0;
  box-shadow: 1px 3px 5px rgb(211, 209, 209);
  transition: 0.2s;
}

.form-control::placeholder {
  font-size: 10px;
  font-family: 'Jost', sans-serif;
  font-family: 'Outfit', sans-serif;
  
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #979797;
}

.forgot {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: orange;
  font-size: 12px;
  text-decoration: none;
  font-family: 'Jost', sans-serif;
  font-family: 'Outfit', sans-serif;
}

.login {
  color: white;
  background: linear-gradient(45deg, #ffd506, #ffa200);
  padding: 12px 45px 14px 30px;
  border: none;
  box-shadow: 1px 1px 5px 1px rgb(253, 191, 77);
  border-radius: 40px;
  font-size: 18px;
  font-family: 'Jost', sans-serif;
  font-family: 'Outfit', sans-serif;
}

.arrow {
  color: white;
  transform: translateX(-230%);
}


.button {
  padding-left: 200px;
}

.footer {
  margin: 156px 10px 10px 10px;
  font-size: 14px;
  color: #9a9898;
  font-family: 'Jost', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
}


.signup {
  color: #ffa200;
  text-decoration: none;
}
